html{
  font-size: 62.5%;
  box-sizing: border-box;
}

html, body{
  height: 100%;
}

.container{
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: Helvetica, sans-serif;
}

.form{
    display: flex;
    flex-direction: column;
    width: 90%;
    max-width: 60rem;
}

.form > *{
    font-size: 1rem;
}

.title{
    font-size: 4rem;
    margin: 4rem;
    text-align: center;
}

.input, button{
    margin-bottom: 2rem;
}

.input{
    padding: .2rem;
}

.button{
    padding: 2rem;
}

.preview{
   display: flex;
flex-direction: column;
}

.led-container{
    border: .1rem solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3rem;
    width: 3rem;
    margin: 4rem 1rem;
    border-radius: 50%;
}

.led{
    background-color: rgba(255, 0, 0, 0.233);
    border-radius: 50%;
}

.preview-row{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.reversed{
    flex-direction: row-reverse;
}

.font{
position: absolute;
z-index: -1;
transform: scale(6.5) translate(-6rem, 69rem);
}

.copy-array{
    height: 0;
}





