@font-face{
    font-family: "Recoleta";
    src: url('../assets/fonts/Recoleta-Bold.woff2') format('woff2'),
         url('../assets/fonts/Recoleta-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
  }
  

html{
  font-size: 62.5%;
  box-sizing: border-box;
}

html, body{
  height: 100%;
}

.container, .logged-in, .logged-off{
    height: 100vh;
    display: flex;
     font-family: houschka-rounded, sans-serif;
    font-weight: 500;
    font-style: normal;
    width: 100%;
    color: var(--black);
}

.header{
    background-color: var(--green);
    border: .1rem solid var(--black);
    margin: 1rem;
    border-radius: 1rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.header-top{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.message-form{
    display: flex;
    flex-direction: column;
    width: 90%;
    max-width: 60rem;
    justify-content: center;
    align-items: center;
}

.logo{
    margin-bottom: 2rem;
}


.title{
    font-size: 4rem;
    margin: 4rem;
    text-align: center;
    font-family: "Recoleta";
    color: var(--red);
}

.input, button{
    margin-bottom: 2rem;
}

.input{
    padding: .2rem;
}

.button{
    padding: 2rem;
    font-size: 2rem;
    background-color: var(--green);
    font-family: "Recoleta";
    border: .1rem solid var(--black);
    text-transform: uppercase;
    color: var(--black);
    border-radius: 2rem;
}

.button:hover{
   cursor: pointer;
}

.preview{
    flex-direction: column;
    margin-top: -40rem;
    z-index: 2;
}

.led-container{
    border: .1rem solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3rem;
    width: 3rem;
    margin: 4rem 1rem;
    border-radius: 50%;
}

.led{
    background-color: rgba(255, 0, 0, 0.233);
    border-radius: 50%;
}

.preview-row{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.reversed{
    flex-direction: row-reverse;
}

.font{
    position: absolute;
    z-index: -1;
    transform-origin: center;
    transform: scale(4.5) translate(15.9rem, -18rem)
}

.copy-array{
    height: 0;
}

.section-preview{
    margin-top: 50rem;
   
}

.section{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

 .selection {
  margin-bottom: 1em;
}


 .selection label {
    font-size: 2rem;
    display: inline-block;
    width: 15rem;
    background-color: var(--blue);
    border-radius: 1rem;
    color: var(--black);
    padding: 1rem;
    cursor: pointer;
    transition: .2s all ease;
    border: .1rem solid var(--black);
}

 .selection label:hover {
    padding-left: 2rem;
    width: 14rem;
}

.selection input[type=radio] {
  display: none;
}

 .selection input[type=radio]:checked ~ label {
    background-color: var(--red);
    color: white
}

.error-screen{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.error-box{
    font-size: 2rem;
    margin: 3rem 0
}

.error-message{
    color: var(--red);
}

.section-drawing, .section-motion, .logged-in, .section-dashboard, .error-screen, .p5Canvas{
    display: none;
}
 
.canvas-bg{
    background-image: url("../assets/img/treebg.png");
    background-repeat: no-repeat;
    margin-bottom: 3rem;
}



.section-drawing{
    font-size: 2rem;
}

.drawing-options{
    display: flex;
}

.color-container{
    border: .1rem solid var(--black) ;
    padding: 1rem;
    border-radius: 1rem;
    margin: 2rem;
}

.reset-button{
    padding: 1rem;
    border: .1rem solid var(--black) ;
    border-radius: 1rem;
    font-family: houschka-rounded, sans-serif;
    font-weight: 500;
    font-style: normal;
    background-color: transparent;
    font-size: 2rem;
    margin: 2rem;
}

.invallid-url-error{
    text-align: center;
}

.error-title{
    font-family: "Recoleta";
    color: var(--red);
    font-size: 6.8rem;
    margin-bottom: 6rem;
}

.error-text{
    font-family: houschka-rounded, sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 2rem;
    margin-top: 2rem;
}

.error-text-first{
   border-bottom: .1rem solid var(--red);
    padding-bottom: 2rem;
}


.logged-off{
    display: flex;
    justify-content: center;
    flex-direction:  column;
    align-items: center;
}

.user-form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.code-text{
    width: 62rem;
    text-align: center;
    line-height: 1.3;
}

.tree-code{
    font-size: 5rem;
    padding: 1rem;
    width: 15rem;
    letter-spacing: 1rem;
    border-radius: 2rem;
    padding-left: 6rem;
    border: .1rem solid var(--black);
    background-color: transparent;
    outline: none;
    color: var(--black);

}

.tree-id{
    margin-bottom: 1rem;
}

.error-code{
    font-size: 2rem;
    color: var(--red);
}

.hide{
    display: none;
}

.message{
    font-size: 3rem;
    padding: 1.3rem;
    width: 100%;
    border-radius: 2rem;
    border: .1rem solid var(--black);
    background-color: transparent;
    outline: none;
    color: var(--black);
    font-family: houschka-rounded, sans-serif;
    font-weight: 500;
    font-style: normal;
    margin: 2rem;
}

::placeholder { 
  color: var(--black);
  opacity: .3;
  letter-spacing: .7rem;
}


.message::placeholder { 
  letter-spacing: 0
}

.dashboard-item{
    font-size: 1.6rem;
    border: .1rem solid var(--black);
    border-radius: 1rem;
    padding: 1.5rem;
    margin: 1rem;
    line-height: 1.4;
}

.dashboard-item-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 100rem;
}

.dashboard-title{
    font-size: 2rem;
    font-weight: 700;
}

.dashboard-description{
    padding-bottom: .2rem;
    border-bottom: .1rem solid var(--black);
}

.active-baubles-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: .1rem solid var(--black);
    line-height: 1;
    margin-top: 1rem;
    padding-bottom: 1rem;
}

.list-name{
    font-weight: 700;
}

.list-input{
    border: none;
    background: transparent;
    width: 8rem;
}

.list-code{
width: 5rem;
}


.list-name-label:hover .edit-icon{
    display: inline
}

.list-code-label:hover .edit-icon{
    display: inline
}

.edit-icon{
    display: none;
    transition: .1s all ease;
}

list-name-label:hover{

}

.list-info{
    display: flex;
    flex-direction: column;
}

.edit-icon-visible{
    margin-left: 1rem;
}

.user-mute{
    background: transparent;
    border: .1rem solid var(--black);
    margin: auto 0;
    padding: 1rem;
    font-family: houschka-rounded, sans-serif;
    border-radius: 1rem;
    cursor: pointer;
}

.owner-dashbord{
    display: flex;
    align-items: center;
    font-weight: bold;
    cursor: pointer;
    font-size: 1.8rem;
}

.new-name-container{
    display: none;
}

.toggle-switch {
  position: relative;
  display: inline-block;
  width: 6rem;
  height: 3.4rem;
}

.toggle-switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.toggle-switch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.toggle-switch .slider:before {
  position: absolute;
  content: "";
  height: 2.6rem;
  width: 2.6rem;
  left: .4rem;
  bottom: .4rem;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

.toggle-switch input:checked + .slider {
  background-color: var(--red);
}

.toggle-switch input:focus + .slider {
  box-shadow: 0 0 .1rem var(--red);;
}

.toggle-switch input:checked + .slider:before {
  -webkit-transform: translateX(2.6rem);
  -ms-transform: translateX(2.2rem);
  transform: translateX(2.6rem);
}

.toggle-switch .slider.round {
  border-radius: 1rem;
}

.dashboard-item-switch{
    display: flex;
    justify-content: space-between;
}

.toggle-switch .slider.round:before {
  border-radius: .8rem;
}

.canvas-placeholder{
    transform: scaleX(-1);
}

@media only screen and (max-width: 1000px) {
    .canvas-bg{
        transform: scale(0.6);
        margin-top: -10rem;
        margin-bottom: -10rem;
    }

    .canvas-placeholder{
        transform: scaleX(-1) scale(0.6);
    }

    .dashboard-item-container{
        flex-direction: column;
    }
}

@media only screen and (max-width: 700px) {
    .logged-in{
        flex-direction: column;
    }

    .error-title{
        font-size: 4rem;
        margin-bottom: 3rem;
    }

    .error-text{
        font-size: 1.4rem;
        margin-top: 1rem;
    }

    .code-text{
        width: 90%;
    }


    .error-text-first{
        border-bottom: .1rem solid var(--red);
        padding-bottom: 1rem;
    }

    .logo{
        display: none;
    }

    .mode{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .selection{
        margin: .5rem;
    }

    .selection label{
        width: fit-content;
   }

    .header{
        margin: 0;
        padding: 0;
        border-bottom: .1rem solid var(--black);
        border-radius: 0 0 1rem 1rem
     
    }

    .title{
        margin: 1rem;
    }

    .color-container, .reset-button{
        margin: 1rem .5rem;
        padding: .5rem;
    }

}